@use "sass:math";
@import "_comonns.scss";
@import "_fonts.scss";
@import "_reset.scss";
@import "_mixins.scss";

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
// @media (any-hover: hover){
// 	&:hover{

// 	}
// }

body {
  font-family: "Poppins";
}
.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: rem(1270);
  margin: 0 auto;
  padding: 0 rem(15);
}
